# Example for Bancolombia
IMAP_USER_EMAIL_ADDRESS=
IMAP_USER_PASSWORD=
IMAP_SERVER="imap.gmail.com"
IMAP_FILTER=(OR (SINCE 1-Jan-2021 BEFORE 31-Dec-2021 FROM "alertasynotificaciones@notificacionesbancolombia.com") (SINCE 1-Jan-2021 BEFORE 31-Dec-2021 FROM "alertasynotificaciones@bancolombia.com"))
IMAP_BANK_MSG_START="Bancolombia le informa"
IMAP_BANK_MSG_END="Inquietudes"
REGEX_BANK_FILE="regex/bancolombia.regex"