# Example for Bancolombia
IMAP_USER_EMAIL_ADDRESS=
IMAP_USER_PASSWORD=
IMAP_SERVER="imap.gmail.com"
IMAP_BANK_SENDER_ACCOUNT="alertasynotificaciones@notificacionesbancolombia.com"
IMAP_BANK_MSG_START="Bancolombia le informa"
IMAP_BANK_MSG_END="Inquietudes"
IMAP_BANK_TRANSACTION_TC_REGEX=Bancolombia le informa (?P<type>.*) por (?P<value>.*) en (?P<dest>.*) (?P<time>\d{2}:\d{2}). (?P<date>\d{2}\/\d{2}\/\d{4}) T.Cred (?P<account>\*\d{4})
IMAP_BANK_TRANSACTION_WT_REGEX=Bancolombia le informa (?P<type>.*) por (?P<value>.*) desde cta (?P<account>.*) a cta (?P<dest>.*) (?P<date>\d{2}\/\d{2}\/\d{4}) (?P<time>\d{2}:\d{2}).